body, html{
  font-family: 'Montserrat', sans-serif;
}

/* MOBILE */
/* GENERAL */
h1, h2, h3{
  font-weight: 700;
}
/* GENERAL */

/* NAVBAR */
.navbar{
  margin-bottom: 0;
}

.navbar-default{
  background-color: #2c3e50;
  background-image: none;
  color: #ffffff;
  border: 0;
  border-radius: 0;
  padding: 32px 0;
}

.navbar-default .navbar-brand{
  color: #ffffff;
  font-weight: 700;
  font-size: 1.9em;
  padding-top: 21px;
}

.navbar-default .navbar-toggle{
  border: 2px solid #ddd;
}

.navbar-toggle{
  padding: 13px 15px;
  border-radius: 7px;
}

.navbar-toggle .icon-bar{
  width: 33px;
  height: 4px;
}

.navbar-toggle .icon-bar+.icon-bar{
  margin-top: 4px;
}

.navbar-default .navbar-nav>li>a
{
  color: #ffffff;
  font-weight: 400;
}

.navbar-default .navbar-collapse{
  border: 0;
  box-shadow: none;
}

.navbar-default .navbar-nav>li>a{
  font-weight: 700;
}

.navbar-header{
  padding: 0 10px;
}
/* NAVBAR */

/* JUMBTRON */
.jumbtron{
  background-color: #1abc9c;
  margin: 0 auto;
  color: #ffffff;
}

.jumbtron .col-xs-10{
  margin-bottom: 40px;
}

.jumbtron .col-xs-10 img{
  margin-top: 45px;
  width: 55%;
}

.jumbtron h1{
  font-size: 48px;
  margin-bottom: 25px;
}

.jumbtron h3{
  margin-top: 25px;
  font-size: 19px;
}

.divider i{
  font-size: 50px;
}

.divider{
  width: 300px;
  margin: 0 auto;
}

.divider:before, .divider:after{
  content:'';
  display: block;
  width: 37%;
  height: 7px;
  margin-top: 22px;
}

.jumbtron .divider:before, .jumbtron .divider:after{
 background-color: #ffffff;
}

.divider:before{
  float: left;
}

.divider:after{
  float: right;
}
/* JUMBTRON */

/* SECTION-1 */
.section-1 .divider{
  margin-top: 45px;
}

.section-1 h2{
  margin-top: 75px;
}

.divider:before, .divider:after{
  background-color: #000000;
}

.my-thumb{
  margin-top: 30px;
  margin-bottom: 70px;
}

.thumbnail{
  border: 0;
  padding: 13px 6px;
}

.img-thumbnail, .thumbnail{
  box-shadow: none;
}

.thumbnail img{
  border-radius: 13px;
}

.mt-20{
  margin-top: 30px;
}
}

/* MOBILE */

/* TABLET */
/* NAVBAR */
@media all and (min-width: 768px) {
  .navbar-brand{
    line-height: 26px;
  }

  .navbar-default .navbar-nav>li>a{
    font-size: 1.2em;
  }

  ul.nav.navbar-nav.navbar-right{
    padding-top: 9px;

  }
  /* NAVBAR */

  /* JUMBTRON */
  .jumbtron .col-xs-10 img{
    margin-top: 60px;
    width: 30%;
  }

  .jumbtron h1{
    font-size: 55px;
  }

  .jumbtron h3{
    font-size: 28px;
  }

  .jumbtron .col-xs-10{
    margin-bottom: 60px;
  }
}
/* TABLET */

/* DESKTOP */
/* NAVBAR */
@media all and (min-width: 1200px){
  .navbar-default .navbar-brand{
    padding-top: 35px;
    font-size: 2.4em;
  }

  .navbar-default .navbar-nav>li>a{
    font-size: 1.2em;
  }

  ul.nav.navbar-nav.navbar-right{
    padding: 0;
    line-height: 79px;
  }

  .navbar-default .navbar-brand{
    padding-top: 16px;
  }

  /* JUMBTRON */
  .jumbtron .col-xs-10 img{
    margin-top: 60px;
    width: 25%;
  }

  .jumbtron h1{
    margin-bottom: 35px;
    font-size: 65px;
  }

  .jumbtron h3{
    margin-top: 25px;
    font-size: 30px;
  }

  .divider{
    width: 550px;
  }

  .jumbtron .col-xs-10{
    margin-bottom: 80px;
  }
  /* NAVBAR */
  /* DESKTOP */
